@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway',
    sans-serif;
  font-weight: bold;
}



img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid rgb(248, 248, 248);
}

#title {
  margin-bottom: 10px;
  color: white;
}

.desc {
  padding: 10px;
}

button {
  outline: none;
  border: none;
  background: white;
  color: rgb(7, 7, 7);
  padding: 6px;
  border-radius: 3px;
  margin: 5px;
}

button:hover {
  background: #616192;
  color: white;
}
