html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
    font-family: Georgia, serif;
}
blockquote{
    border-left-style: 1px solid;
    font: italic;
    border-left-color: rgb(221,221,221) ;
}
table{
    border-width: 1px;
}
table th{
    border-width: 1px;
}
table td{
    border-width: 1px;
}
tr:nth-child(odd){
    background-color: rgb(241, 241, 241);
}
tr:nth-child(odd) > td{
    background-color: rgb(241, 241, 241);
}
table th{
    border-color: rgb(221, 221, 221);
    border-style: solid;
}
table td{
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

table tr:hover td{
    background-color: rgb(0, 0, 0) ;
    color: rgb(255, 255, 255) ;
}