.site-header, 
.site-footer{
    border:0 solid #ccc;
    padding: 1em 1.5em;
}
.site-header{
    border-bottom-width: 2px;
}
.site-header h1{
    padding-top: 0;
    margin: 0;
}
.site-footer{
    border-top-width: 2px;
}