.nav {
    text-align: right;
    padding-top: 0.5em;
}
.nav ul li {
    display: inline-block;
}

.nav a {
    display: block;
    padding: 0.5em 1em;
    background-color: #eee;
    color: #333;
    border-radius: 3em;
    text-decoration: none;
}

.nav a:hover{
    background-color: #090;
    color: #fff;
}

