ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 40px auto;
}

li {
  list-style-type: none;
  width: 240px;
  text-align: center;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.2s linear;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 15px;
  background: #ADADE8;
}

li:hover {

  transform: scale(1.04);
  box-shadow: -1px 2px 27px 3px rgba(0, 0, 0, 0.09)
}
