@import  url("https://fonts.googleapis.com/css?family=Karla&display=swap");

html{
    scroll-behavior: smooth;
    font-family: 'Karla', sans-serif;
}

body{
    padding: 0.5%;
    font-family: inherit;
    scroll-behavior: smooth;
}

form.form-inline div.form-group {
    margin-right: 2%;
}

.img-details{
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 3px 3px gray;
    height: 500px;
}

.img-details:hover{
    box-shadow: 5px 5px gray;
}

p.text-bold{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

div.row form.form-inline{
    text-align: center;
}

.cause-description{
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.amount{
    font-size: 42px;
}

.lowAmount{
    color: red;
}

.middleAmount{
    color: orange;
}

.highAmount{
    color: green;
}

h1{
    text-align: center;
}

.pull-right img{
    max-height: 100;
    display: block;
    border-radius: 6px;
}

