@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";
 body{
     margin: 0px;
 }
 section.card{
     display: block;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }
 .viewport:nth-child(1){
     height: 100vh;
    background: linear-gradient(90deg, rgba(24,90,157,1) 0%, rgba(45,146,159,1) 35%, rgba(66,203,162,1) 100%);
 }
 .viewport:nth-child(2){
    background: linear-gradient(90deg, rgba(168,50,120,1) 0%, rgba(186,88,70,1) 35%, rgba(210,130,18,1) 100%);
    height: 100vh;
}
div.viewport{
    position: relative;
}
img{
    max-height: 500px;
    
}
i{
    position: absolute;
    left: 50%;
    top: 50%;
    color: wheat;
}
.viewport:nth-child(1) i{
    transform: translate(225px, 145px);
}
.viewport:nth-child(2) i{
    transform: translate(145px, 230px);
}