<div class="col-md-8">
    <div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Trip to Palma de Mallorca</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/18-11-30-Palma_de_Mallorca-RalfR2-100_0316.jpg/1200px-18-11-30-Palma_de_Mallorca-RalfR2-100_0316.jpg" alt="" class="img-responsive img-details">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 cause-description">Palma is a resort city and capital of the Spanish island of Mallorca (Majorca), in the western Mediterranean. The massive Santa María cathedral, a Gothic landmark begun in the 13th century, overlooks the Bay of Palma. The adjacent Almudaina is a Moorish-style Arab fortress converted to a royal residence. West of the city, hilltop Bellver Castle is a medieval fortress with a distinctive circular shape.</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="text-bold amount">
                    <span>$1500.00</span>
                    from
                    <span>$</span>2500
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="donatedAmount"></label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="donatedAmount" placeholder="Amount">
                            <div class="input-group-addon">.00</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Make donation</button>
                </form>
            </div>
        </div>
    </div>
</div>