.site {
    max-width: 60em;
    margin: 0 auto;
    background: grey;
}

.site-header .site-title{
    float: left;
}

.site-header {
    padding: 1em;

}

.site-header .site-nav{
    float: right;
}

.site-main {
    padding: 1em;
    width: 60%;
    float: left;

}

.site-sidebar {
    padding: 1em;
    width: 40%;
    float: left;
}

.site-footer {
    padding: 1em;

}

/*cleaner 
*/

.cleaner:after{
    display: block;
    content: '';
    clear: both;
}