.site-nav{

}

.site-nav ul{
    padding: 0;
    margin: 0;
}

.site-nav ul ul{
    display:  none;
    position: absolute;
}

.site-nav > ul > li{
    float: left;
}

.site-nav li {
    display: block;
    list-style: none outside;
}

.site-nav li:hover > ul{
    display: block;
}

.site-nav li a {
    display: block;
    background: #000;
    color: #FFF;
    padding: 1em 1.5em;
    text-decoration: none;
}

.site-nav li:hover > a,
.site-nav a:hover {
    background-color: #090;
}