html{
    font: 16px/1.5  Arial, Helvetica, sans-serif;
}

/* Инхерит казва наследи от родителя на посочените тагове. Това е много силно оръжие.  */
body, form, table, input, textarea, option, select{
    font: inherit;  
}

p{
    margin: 0;
    margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding-bottom: 0.5em;
}
h1{ font-size: 2.8em;}
h2{ font-size: 2.4em;}
h3{ font-size: 2em;}
h4{ font-size: 1.6em;}
h5{ font-size: 1.4em;}
h6{ font-size: 1.2em;}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6{
    padding-top: 0.5em;
}


body {
   padding: 50px 100px;
   /* line-height: 1.5;
   font: 16px;
   font-family:  Arial, Helvetica, sans-serif;  --първия ред върши същата работа като тези 3 реда.*/
}
