<img src="images/{{ this.imageLocation }}.jpg" width="250" height="250" alt="Card image cap">
<div class="info">
    <button class="showBtn">Show status code</button>
    <div class="status" style="display: none" id="{{ this.id}}">
        <h4 class="card-title"> Status Code:{{ this.statusCode }}</h4>
        <p class="card-text">{{ this.statusMessage }}</p>
    </div>
</div>